<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aap">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AAP">
        <activity android:name=".Community.GalleryViewerActivity"></activity>
        <activity
            android:name=".Community.GalleryWriteActivity"
            android:label="@string/title_activity_gallery_write"
            android:theme="@style/Theme.AAP.NoActionBar" />
        <activity android:name=".Community.BoardViewerActivity" />
        <activity android:name=".Community.BoardWriteActivity" />

        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".PetInfo.PetInfoActivity"
            android:theme="@style/Theme.AAP.NoActionBar"></activity>
        <activity android:name=".PetInfo.PetPlusActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignIOActivity" />
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>